/* Text-shadow: m3na ank bt3ml zlal we m3loma hwa bet3b el 3en be2bl mnk 4 7gat 1- [H-Shadwo] we da el zel el Aofke 2-[V-shadow] we da el zel el 3mode 3-[blur] m3nha el lwon el wad7 wla 8am2 4- [color] we da lwon el shadow  



*/




div{
    width: 100px;
    height: 70px;
background-color: #F9F9F9;
/* color: aquamarine; */
  text-shadow: 1px 2px 2px rgb(17, 9, 9);             /*el band da 2ly belwon el klma we be3ml mnha 2 we gamd fash5 btt7k mn el 1px we 2px we 3px we bt8er el lwon  */
 border: 3px solid rgb(48, 14, 173);

 
 
 









  

}



