


div.osama{
    width: 570px;
    background-color: #f9f9f9;
    /* letter-spacing: 2px;                                    el 5sya de btnf3k low mcln 3aml 5at m3en fe el sf7a shklo 7lw bs el klam de2 fe b3d aw was3 t2dr tws3o aw tde2 el band hna 5syt btfrk el klam el fe el div be m3na anha bt3ml mstra ben el el klam ele fe el str fkd msh mcln el str fe 7 klamt bt3ml fr2 ben el 7 klmat  aw el msa7a aw el mstra we bt7ddha mn el rkm hna ana 3mlha Normal 3aoz tsh8lha 7ot mcln (15px) we 8er anta el rkm 3la 7sb el msa7a 2ly t7bha  we low 3aoz ts8r el fr2 el klam be -15*/
    /* word-spacing: 1px                                           de bt3ml fr2 fe el klam ely gwa el div be m3na low el 3aml tlb mnk band mktob fe el div ekon fe ms7at ben kol klma we m3loma el 5sya de msh htst5dmha acln anta mmkn t7t el klama 2ly 7abb t3ml bnha ms7a fe el str fa tdeha  <sban> we tdeha 5set margin0 fe el css we t7rkha  */
    /*text-indent:40px;             de bt3ml zy mstra fe el Div bt3mlk msa7a fe 2ol el div msh bt5le tbd2 klam mn 2ol el Div btseb msa7a we anta bt7dd el msa7a br7tk mn {40px}we mlhash text aw asm 3shn t2dr t3mla normal we best5dmha fe 7aga tany lma tt3lm gqure best5dmha ano betl3oha bra el sf7a bdl ma e5foha be -99999 we best5dmha low he7oto klam kter fe el sf7a shr7 mcln 7aga we 3aozen el klam kolo ebd2 zy b3do aw el sf kolo ekon zy b3do*/
    /*line-height:1.6;                 de bt3ml msa7a ben el stor ely fe el div mcln el div 3bra 3n 6 stor mktben bt3ml msa7a ben kol str 1.6 de a7sn kyma aw 1.7 le el 2rya le el 3nen we el ra7a el 5olsa anha btnsklk el msafat ely ben el astor bta3 kol satr fe el div  */




    /* white-space: normal;                de el kyma el 3dya bt3tha de low 3aml div we 3aoz el klam low kter fe el div me5rgsh bra de bt5le 2ol ma el klam egeb 7gm el width 2ly anta m7ddo enzl ekml klam t7t el str me5rgsh bra el div                                                                                                                                                                                                                                                                                                      */
    /* white-space: nowrap;                   de b2a ht7tgha de mcln low 3aoz t3ml div we fe link mcln fe el link da hekon toel fa htl2e at2sm 3la nosen t7t b3d low anta 3ozo eb2a fe 5at wa7d kolo aw fe str wa7d bt3l el pand da 7tla low el width bta3 el div so8er el klam hekml gnb a5r el div 3ade we anta ab2a ade b2a el link span we adelo lwon mcln heb2a shbh b3d  */







     /* word-break: break-all;                       de nf el 5sya bs a7sn shoya  da be5le low 3aml div we 7att fe link mcln fa ht2le tbe3e el link tl3 bra low anta mde 7gm el div 2ly hwa el width so8er afrd el 5sya de b2a bt5le egy 3nd nhya el width bta3 el div we ba2e el link enzl t7t */
    /* word-break: break-word;                      da be5le low 3aml div we 7att fe link mcln fa ht2le tbe3e el link tl3 bra low anta mde 7gm el div 2ly hwa el width so8er afrd el 5sya de b2a bt5le egy 3nd nhya el width bta3 el div we ba2e el link enzl t7t  */







}



















           /* el 5syat de t2dr mnha ank t3ml shkl mn el band aw el satr el mktob ana 2ly 5tr3tha ely 3ml kda el px el zodha fe el band el line 
line-height:1.1px;  
color: tomato;
font-style:italic;  */