
                                     /* el dars da beshr7 azy t2dr t5fe ay band fe el sf7a we be el gava bt2dr an el sha5s mgrb ma edos 3la morb3 2w ay fkra anta 3mlha btzhrlo tany 5sya shr7a a7sn  */
                                    /* hna ana 5afe el band be el 5sya el tanya 2ly hya el 27sn we syba mknha leh 25trt el 5sya el tanya bsbb ank lma btzbtha be el gava btzhr be bot2 we btre2a kwysa msh btnot zy el tanya  */

div{
background-color: red;
margin: 10px 0;
/* display: none;                              el 5sya de t2dr beha ank t5fe el band mn el sf7a tyb leh ht5fe 3shan fe lo8a el gava htst5dmo mcln 3ndk div mmkn t7t fe 5nat kter td8t 3la 5ana mnhm ezhr el klam ely 7ta gwa  */


}




div.osama{
    /* visibility: visible;                         de el kyma bt3tha el asasya  */
    visibility: hidden;                            /* el 5sya de gmela gdn agmd mn disply el 2ola dy bt5fe el band bardo bs btre2a a7sn azy h2olk de lma bt5feha btseb mknha mfesh band tany be5do lma btst5dmo be el java bekon a7sn be kter ln el 5sya el 2ola 2ly shr7ha el disply lma bt5feha we tege tzhr btzhr be tre2a msh kwoysa fe de a7sn bkter*/ 
}